/* Set colors as custom properties */
:root {
  --blue: #1992d4;
  --yellow: #facc15;
  --grey: #e2e8f0;
  --white: #fff;
  --lightgrey: #999;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
}

/* Sidebar */
.sidebar {
  background-color: var(--blue);
  color: var(--white);
  grid-row: 1 / 3;
  padding: 20px;
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  gap: 100px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 30px;
}

.sidebar ul li {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 50px;
  padding: 10px 0;
}

.sidebar ul a {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
  font-weight: 600;
}

.branding {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  align-items: center;
}

.branding h1 {
  font-size: 50px;
  font-weight: 600;
}

/* Header */
.header {
  padding: 0 30px;
  position: relative;
  z-index: 10;
  background-color: var(--white);
  box-shadow: 0 5px 5px var(--lightgrey);
  display: grid;
  grid-template: 100px 100px / 2fr 1fr;
  gap: 20px;
}

.header img {
  width: 40px;
}

.search {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 20px;
  align-items: center;
}

.search input {
  outline: none;
  border: none;
  background-color: var(--grey);
  border-radius: 25px;
  height: 50px;
  padding: 0 20px;
}

.profile {
  display: grid;
  grid-template-columns: 100px 100px 100px 1fr;
  align-items: center;
  gap: 20px;
}

.profile img {
  grid-column: 2 / 3;
}

#profile-picture {
  width: 60px;
  border-radius: 50%;
  grid-column: 3 / 4;
}

.profile h2 {
  grid-column: 4 / 5;
  font-size: 36px;
  font-weight: 500;
}

.greeting {
  display: grid;
  grid-template: 1fr 1fr / 100px 1fr;
  gap: 20px;
  align-items: center;
}

.greeting img {
  width: 100px;
  border-radius: 50%;
  grid-row: 1 / 3;
}

.greeting span {
  font-size: 20px;
  font-weight: 600;
}

.greeting h3 {
  font-size: 30px;
  font-weight: 600;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

.actions button {
  height: 50%;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  border-radius: 25px;
}

/* Main */
.main {
  background-color: var(--grey);
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  gap: 40px;
  padding: 40px 20px;
}

.main h2 {
  font-size: 40px;
  font-weight: 500;
}

.projects {
  grid-row: 1 / 3;
}

.project-cards {
  padding: 20px 0;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  gap: 20px;
}

.project-card {
  padding: 30px 20px;
  background-color: white;
  border-left: 10px solid var(--yellow);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--lightgrey);
}

.project-card h3 {
  font-size: 30px;
  font-weight: 500;
}

.project-card p {
  color: var(--lightgrey);
  font-size: 20px;
}
