/* Set colors as custom properties */
:root {
  --blue: #1992d4;
  --yellow: #facc15;
  --grey: #e2e8f0;
  --white: #fff;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
}

/* Sidebar */
.sidebar {
  background-color: var(--blue);
  color: var(--white);
  grid-row: 1 / 3;
  padding: 20px;
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  gap: 100px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 30px;
}

.sidebar ul li {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 50px;
  padding: 10px 0;
}

.sidebar ul a {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
  font-weight: 600;
}

.branding {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  align-items: center;
}

.branding h1 {
  font-size: 50px;
  font-weight: 600;
}

/* Header */
.header {
  background-color: var(--white);
}

/* Main */
.main {
  background-color: var(--grey);
}
